#sub-nav {left:5px}
.ad-box125 {width:125px;height:125px;padding:3px;margin:6px;background:#eee;border:1px solid #ccc;float:right}
#wrapper {width:100%;margin:5px auto 0px auto}
#content-right {width:300px;}
.picture-boxes {margin-right:0px}
#menu ul{list-style:none;margin:0;padding:0;float:left;width: 6em;}